{% extends "layouts/complete.html" %}
{% block content %}
    <div v-scope
         @vue:mounted="navbar.change('Agregar Beneficiarios a {{ titulo }} - Torre {{ request.user.tower.nombre }}')"
         class="min-h-[calc(100svh-4rem)] max-w-screen overflow-hidden p-8 flex flex-col justify-stretch items-start gap-4 ">
        <a href="{% url 'ver_beneficio' tipo_slug=tipo_slug %}"
           class="btn btn-neutral w-full ">Volver a la lista</a>
        <div class="alert alert-outline alert-info w-full text-lg">
            <span>Aquí puedes seleccionar a los jefes de familia de tu torre que <b>aún no han sido incluidos</b> en el ciclo actual de {{ titulo }}</span>
        </div>
        <form method="post"
              action="{% url 'lider_torre:agregar_vecinos' tipo_slug=tipo_slug %}"
              class="flex flex-col justify-stretch items-start w-full"
              v-scope="{ atLeastOneChecked: false, checkboxcheck(){ var checkboxes = document.querySelectorAll('input[type=\'checkbox\'].select-item'); for (var checkbox of checkboxes) { if (checkbox.checked) {this.atLeastOneChecked = true; return} } this.atLeastOneChecked = false }, checkallToggle(el){ var checkboxes = document.querySelectorAll('input[type=\'checkbox\'].select-item'); for (var checkbox of checkboxes) { checkbox.checked = el.checked; } if (el.checked){this.atLeastOneChecked = true} else {this.atLeastOneChecked = false} } }"
              @vue:mounted="checkboxcheck()">
            {% csrf_token %}
            <input type="hidden" name="action" value="add_selected">
            <input type="hidden" name="tipo_slug" value="{{ tipo_slug }}">
            <div class="fab">
                <button type="submit"
                        class="btn btn-lg btn-success"
                        :disabled="!atLeastOneChecked">Agregar seleccionados</button>
            </div>
            <div class="card w-full bg-base-100 shadow-sm">
                <div class="card-title flex justify-start items-center px-8 mt-4">
                    <span>Vecinos de la Torre {{ request.user.tower.nombre }}</span>
                </div>
                <div class="card-body">
                    <div class="overflow-x-auto w-full max-h-[calc(100svh-8rem)] rounded-box border border-base-content/5 bg-base-100">
                        <table class="table table-sm lg:table-md table-pin-rows table-zebra">
                            <thead class="text-wrap lg:text-nowrap ">
                                <tr>
                                    <th>
                                        <label class="flex justify-start items-center">
                                            <input class="checkbox mr-2" type="checkbox" @click="checkallToggle($el)">
                                            Todos
                                        </label>
                                    </th>
                                    <th>Cédula</th>
                                    <th>Jefe de Familia</th>
                                    <th>Apartamento</th>
                                    <th>Miembros (Excl. Jefe)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for miembro in object_list %}
                                    <tr>
                                        <td class="text-center">
                                            <label class="flex justify-start items-center">
                                                <input type="checkbox"
                                                       name="miembros_ids"
                                                       value="{{ miembro.id }}"
                                                       class="select-item checkbox mr-2"
                                                       @change="checkboxcheck()">
                                                Agregar
                                            </label>
                                        </td>
                                        <td>{{ miembro.cedula }}</td>
                                        <td>{{ miembro.nombres }} {{ miembro.apellidos }}</td>
                                        <td>{{ miembro.apartamento_completo }}</td>
                                        <td>{{ miembro.miembros_contados }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="5" class="text-center py-4 ">
                                            <p>¡Todos los jefes de familia de tu torre ya están en la lista de {{ titulo }}!</p>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
