{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Código Enviado{% endblock %}

{% block content %}
<div class="container">
    <div class="login-box">
        <h2>Código Enviado</h2> 
        <div class="form-container">
            <p class="message-text">
                Hemos enviado un código de verificación a tu correo. Por favor, revisa tu bandeja de entrada (y la carpeta de spam). 
            </p>
            <p class="message-text">
                Una vez que tengas el código, puedes <a href="{% url 'verify_reset_code' %}">verificarlo aquí</a>. 
            </p>
            <div class="signup-link">
                <a href="{% url 'url_login' %}">Volver al Login</a> 
            </div>
        </div>
    </div>
</div>
{% endblock content %}