{% extends "layouts/complete.html" %}
{% block toolbaritems %}
    <script type="module" src="https://unpkg.com/cally"></script>
    <div v-scope="{ tower: '{{ torre_seleccionada|default:'' }}', get() { const data = { 'torre': this.tower }; const query = new URLSearchParams(data).toString(); window.location.href = '{% url 'lider_general:agregar_beneficiario_global' tipo_slug=tipo_slug %}' + '?' + query;} }"
         class="flex items-center justify-between w-full flex-wrap gap-1">
        <select v-model="tower" class="btn btn-soft btn-xs" @change="get()">
            <option value="">Todas las Torres</option>
            {% for torre in torres %}<option value="{{ torre.id }}">Torre {{ torre.nombre }}</option>{% endfor %}
        </select>
    </div>
{% endblock toolbaritems %}
{% block content %}
    <div v-scope
         @vue:mounted="navbar.change('Agregar Beneficiarios - {{ titulo }}'); navbar.toolbarOpen()"
         class="min-h-[calc(100svh-4rem)] max-w-screen overflow-hidden p-8 flex flex-col justify-stretch items-start gap-4 ">
        <a href="{% url 'ver_beneficio' tipo_slug=tipo_slug %}"
           class="btn btn-neutral w-full ">Volver a la lista</a>
        {% if not ciclo_activo %}
            <div class="alert alert-dash alert-warning text-center w-full text-lg flex flex-col justify-center items-center">
                <p>No hay un ciclo de beneficio activo ({{ titulo }}) para agregar personas.</p>
                <p>Por favor, crea o activa un ciclo antes de intentar agregar beneficiarios.</p>
            </div>
        {% else %}
            <div class="alert alert-outline alert-info w-full text-lg">
                <span>Aquí puedes seleccionar a las personas que <b>aún no han sido incluidos</b> en el ciclo actual de {{ titulo }}, incluyendo miembros</span>
            </div>
            <form method="post"
                  class="flex flex-col justify-stretch items-start w-full"
                  v-scope="{ atLeastOneChecked: false, checkboxcheck(){ var checkboxes = document.querySelectorAll('input[type=\'checkbox\'].select-item'); for (var checkbox of checkboxes) { if (checkbox.checked) {this.atLeastOneChecked = true; return} } this.atLeastOneChecked = false }, checkallToggle(el){ var checkboxes = document.querySelectorAll('input[type=\'checkbox\'].select-item'); for (var checkbox of checkboxes) { checkbox.checked = el.checked; } if (el.checked){this.atLeastOneChecked = true} else {this.atLeastOneChecked = false} } }"
                  @vue:mounted="checkboxcheck()">
                {% csrf_token %}
                <div class="fab">
                    <button type="submit"
                            class="btn btn-lg btn-success"
                            :disabled="!atLeastOneChecked">Agregar seleccionados</button>
                </div>
                <div class="card w-full bg-base-100 shadow-sm">
                    <div class="card-title flex justify-start items-center px-8 mt-4">
                        <span>Total de Personas Disponibles para Agregar: <span class="badge badge-outline badge-info">{{ miembros_disponibles|length }}</span></span>
                    </div>
                    <div class="card-body">
                        <div class="overflow-x-auto w-full max-h-[calc(100svh-8rem)] rounded-box border border-base-content/5 bg-base-100">
                            <table class="table table-sm lg:table-md table-pin-rows table-zebra">
                                <thead class="text-wrap lg:text-nowrap ">
                                    <tr>
                                        <th>
                                            <label class="flex justify-start items-center">
                                                <input class="checkbox mr-2" type="checkbox" @click="checkallToggle($el)">
                                                Todos
                                            </label>
                                        </th>
                                        <th>Torre</th>
                                        <th>Nombre y Apellido</th>
                                        <th>Cédula</th>
                                        <th>Apto</th>
                                        <th>Jefe Fam.</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for miembro in miembros_disponibles %}
                                        <tr>
                                            <td class="text-center">
                                                <label class="flex justify-start items-center">
                                                    <input type="checkbox"
                                                           name="miembros_ids"
                                                           value="{{ miembro.id }}"
                                                           class="select-item checkbox mr-2"
                                                           @change="checkboxcheck()">
                                                    Agregar
                                                </label>
                                            </td>
                                            <td>{{ miembro.tower.nombre }}</td>
                                            <td>{{ miembro.nombres }} {{ miembro.apellidos }}</td>
                                            <td>{{ miembro.cedula }}</td>
                                            <td>{{ miembro.apartamento_completo }}</td>
                                            <td>
                                                {% if miembro.es_jefe_familia %}
                                                    <span class="badge badge-soft badge-success">Sí</span>
                                                {% else %}
                                                    <span class="badge badge-soft badge-warning">No</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ forloop.counter }}</td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="7" class="text-center py-4 ">
                                                <p>Todos los miembros del censo posibles ya han sido agregados al ciclo activo de {{ titulo }}.</p>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock content %}
