{% extends "layouts/complete.html" %}
{% block content %}
    <script type="module" src="https://unpkg.com/cally"></script>
    <div v-scope="{datepicker: false, date:
        {% if form.fecha_nacimiento.value|date:'Y-m-d' %}
            '{{ form.fecha_nacimiento.value|date:'Y-m-d' }}'
        {% else %}
            '{{ form.fecha_nacimiento.value|default:'' }}'
        {% endif %}
        , trabaja:
        {% if form.trabaja.value %}
            true
        {% else %}
            false
        {% endif %}
        , estudia:
        {% if form.estudia.value %}
            true
        {% else %}
            false
        {% endif %}
        }" @vue:mounted="navbar.change({% if form.instance.pk %} 'Editar Datos' {% else %} 'Registrar' {% endif %} + ' - Admin General')" class="min-h-svh flex flex-col justify-start items-stretch px-6 py-8 gap-4">
        <div class="card w-full card-border bg-base-100 card-md shadow-sm static">
            <div class="card-body [&>form_div.label]:text-wrap [&>form_input,select]:w-full">
                <h2 class="card-title">Datos del habitante</h2>
                <div class="divider divider-primary"></div>
                <form method="post" @submit.prevent="formHandler.handleSubmit($el)">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                    <h3 class="text-lg text-primary mb-2">Ubicación en la Torre</h3>
                    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 w-full">
                        <div>
                            <label for="{{ form.tower.id_for_label }}"
                                   class="block text-sm/6 font-medium text-primary">{{ form.tower.label }}</label>
                            <div class="mt-2">
                                <select name="{{ form.tower.html_name }}"
                                        id="{{ form.tower.id_for_label }}"
                                        value="{{ form.tower.value|default:'' }}"
                                        class="select block rounded-md w-48 bg-white px-3 py-1.5 text-base text-primary outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-accent sm:text-sm/6 {% if form.tower.errors %}input-error{% endif %}">
                                    <option disabled {% if not form.tower.value %}selected{% endif %}>Selecciona</option>
                                    {% for value, label in form.tower.field.choices %}
                                        <option value='{{ value }}'
                                                {% if form.tower.value == value %}selected{% endif %}>
                                            {{ label }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% if form.tower.errors %}<div class=" label text-error text-sm">{{ form.tower.errors }}</div>{% endif %}
                        </div>
                        <div>
                            <label for="{{ form.piso.id_for_label }}"
                                   class="block text-sm/6 font-medium text-primary">{{ form.piso.label }}</label>
                            <div class="mt-2">
                                <select name="{{ form.piso.html_name }}"
                                        id="{{ form.piso.id_for_label }}"
                                        class="select block rounded-md w-48 bg-white px-3 py-1.5 text-base text-primary outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-accent sm:text-sm/6 {% if form.piso.errors %}input-error{% endif %}">
                                    <option disabled {% if not form.piso.value %}selected{% endif %}>Selecciona</option>
                                    {% for value, label in form.piso.field.choices %}
                                        <option value='{{ value }}'
                                                {% if form.piso.value == value %}selected{% endif %}>
                                            {{ label }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% if form.piso.errors %}<div class=" label text-error text-sm">{{ form.piso.errors }}</div>{% endif %}
                        </div>
                        <div>
                            <label for="{{ form.apartamento_letra.id_for_label }}"
                                   class="block text-sm/6 font-medium text-primary">
                                {{ form.apartamento_letra.label }}
                            </label>
                            <div class="mt-2">
                                <select name="{{ form.apartamento_letra.html_name }}"
                                        id="{{ form.apartamento_letra.id_for_label }}"
                                        class="select block rounded-md w-48 bg-white px-3 py-1.5 text-base text-primary outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-accent sm:text-sm/6 {% if form.apartamento_letra.errors %}input-error{% endif %}">
                                    <option disabled {% if not form.apartamento_letra.value %}selected{% endif %}>Selecciona</option>
                                    {% for value, label in form.apartamento_letra.field.choices %}
                                        <option value='{{ value }}'
                                                {% if form.apartamento_letra.value == value %}selected{% endif %}>
                                            {{ label }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% if form.apartamento_letra.errors %}
                                <div class=" label text-error text-sm">{{ form.apartamento_letra.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="divider"></div>
                    <h3 class="text-lg text-primary mb-2">Datos Personales</h3>
                    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 w-full">
                        <div>
                            <label for="{{ form.nombres.id_for_label }}"
                                   class="block text-sm/6 font-medium text-primary">{{ form.nombres.label }}</label>
                            <div class="mt-2">
                                <input type="text"
                                       name="{{ form.nombres.html_name }}"
                                       id="{{ form.nombres.id_for_label }}"
                                       value="{{ form.nombres.value|default:'' }}"
                                       placeholder="John Luis"
                                       class="block rounded-md w-48 bg-white px-3 py-1.5 text-base text-primary outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-accent sm:text-sm/6 {% if form.nombres.errors %}input-error{% endif %}" />
                            </div>
                            {% if form.nombres.errors %}<div class="label text-error text-sm">{{ form.nombres.errors }}</div>{% endif %}
                        </div>
                        <div>
                            <label for="{{ form.apellidos.id_for_label }}"
                                   class="block text-sm/6 font-medium text-primary">{{ form.apellidos.label }}</label>
                            <div class="mt-2">
                                <input type="text"
                                       name="{{ form.apellidos.html_name }}"
                                       id="{{ form.apellidos.id_for_label }}"
                                       value="{{ form.apellidos.value|default:'' }}"
                                       placeholder="Doe Hernandez"
                                       class="block rounded-md w-48 bg-white px-3 py-1.5 text-base text-primary outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-accent sm:text-sm/6 {% if form.apellidos.errors %}input-error{% endif %}" />
                            </div>
                            {% if form.apellidos.errors %}<div class="label text-error text-sm">{{ form.apellidos.errors }}</div>{% endif %}
                        </div>
                        <div>
                            <label for="{{ form.cedula.id_for_label }}"
                                   class="block text-sm/6 font-medium text-primary">{{ form.cedula.label }}</label>
                            <div class="mt-2">
                                <input type="text"
                                       name="{{ form.cedula.html_name }}"
                                       id="{{ form.cedula.id_for_label }}"
                                       value="{{ form.cedula.value|default:'' }}"
                                       placeholder="XX.XXX.XXX"
                                       class="block rounded-md w-48 bg-white px-3 py-1.5 text-base text-primary outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-accent sm:text-sm/6 {% if form.cedula.errors %}input-error{% endif %}" />
                            </div>
                            {% if form.cedula.errors %}<div class="label text-error text-sm">{{ form.cedula.errors }}</div>{% endif %}
                        </div>
                        <div class="flex flex-col">
                            <label for="{{ form.fecha_nacimiento.id_for_label }}"
                                   class="block text-sm/6 font-medium text-primary">
                                {{ form.fecha_nacimiento.label }}
                            </label>
                            <input type="date"
                                   name="{{ form.fecha_nacimiento.name }}"
                                   id="{{ form.fecha_nacimiento.id_for_label }}"
                                   :value="date"
                                   class="hidden">
                            <div class="dropdown dropdown-top mt-2"
                                 :class="{'dropdown-open': datepicker}">
                                <button tabindex="0"
                                        class="input text-start w-full block rounded-md bg-white px-3 py-1.5 text-base text-primary outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-accent sm:text-sm/6 {% if form.fecha_nacimiento.errors %}input-error{% endif %} "
                                        @click="datepicker = !datepicker">${date || 'Selecciona fecha'}</button>
                                <div tabindex="-1"
                                     class="dropdown-content menu bg-base-100 rounded-box z-1 p-2 shadow-sm">
                                    <calendar-date class="cally" :value="date" :max="new Date().toISOString().slice(0, 10)" @change.native="date = $el.value; datepicker = false; document.activeElement.blur()">
                                    <calendar-select-year class="[&::part(select)]:input [&::part(select)]:h-fit [&::part(select)]:w-fit [&::part(select)]:ml-1 [&::part(select)]:p-2 [&::part(label)]:hidden" slot="heading" max-years="300"></calendar-select-year>
                                    <svg aria-label="Previous"
                                         class="fill-current size-4"
                                         slot="previous"
                                         xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 24 24">
                                        <path d="M15.75 19.5 8.25 12l7.5-7.5"></path>
                                    </svg>
                                    <svg aria-label="Next"
                                         class="fill-current size-4"
                                         slot="next"
                                         xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 24 24">
                                        <path d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
                                    </svg>
                                    <calendar-month></calendar-month>
                                    </calendar-date>
                                </div>
                            </div>
                            {% if form.fecha_nacimiento.errors %}
                                <div class="label text-error text-sm">{{ form.fecha_nacimiento.errors }}</div>
                            {% endif %}
                        </div>
                        <div>
                            <label for="{{ form.genero.id_for_label }}"
                                   class="block text-sm/6 font-medium text-primary">{{ form.genero.label }}</label>
                            <div class="mt-2">
                                <select name="{{ form.genero.html_name }}"
                                        id="{{ form.genero.id_for_label }}"
                                        class="select block rounded-md w-48 bg-white px-3 py-1.5 text-base text-primary outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-accent sm:text-sm/6 {% if form.genero.errors %}input-error{% endif %}">
                                    <option disabled {% if not form.genero.value %}selected{% endif %}>Selecciona</option>
                                    {% for value, label in form.genero.field.choices %}
                                        <option value='{{ value }}'
                                                {% if form.genero.value == value %}selected{% endif %}>
                                            {{ label }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% if form.genero.errors %}<div class=" label text-error text-sm">{{ form.genero.errors }}</div>{% endif %}
                        </div>
                        <div>
                            <label for="{{ form.telefono.id_for_label }}"
                                   class="block text-sm/6 font-medium text-primary">{{ form.telefono.label }}</label>
                            <div class="mt-2">
                                <input type="tel"
                                       name="{{ form.telefono.html_name }}"
                                       id="{{ form.telefono.id_for_label }}"
                                       value="{{ form.telefono.value|default:'' }}"
                                       placeholder="04121234567 (opcional)"
                                       class="block rounded-md w-48 bg-white px-3 py-1.5 text-base text-primary outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-accent sm:text-sm/6 {% if form.telefono.errors %}input-error{% endif %}" />
                            </div>
                            {% if form.telefono.errors %}<div class="label text-error text-sm">{{ form.telefono.errors }}</div>{% endif %}
                        </div>
                        <div class="w-full lg:col-span-3">
                            <label class="label ">
                                <input type="checkbox"
                                       {% if form.es_jefe_familia.value %}checked{% endif %}
                                       class="checkbox checkbox-lg checkbox-primary [&&]:w-(--size) "
                                       name="{{ form.es_jefe_familia.html_name }}"
                                       id="{{ form.es_jefe_familia.id_for_label }}" />
                                <span>
                                    <b class="text-primary">¿Es Jefe de Familia?</b>
                                    <br>
                                    <small class="text-xs text-wrap w-full">Marca esta opción si es el responsable principal del apartamento.</small>
                                </span>
                            </label>
                            {% if form.es_jefe_familia.errors %}
                                <div class="label text-error text-sm">{{ form.es_jefe_familia.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 w-full items-end">
                        <div>
                            <label for="{{ form.enfermedad_discapacidad.id_for_label }}"
                                   class="block text-sm/6 font-medium text-primary">
                                {{ form.enfermedad_discapacidad.label }}
                            </label>
                            <div class="mt-2">
                                <input type="text"
                                       name="{{ form.enfermedad_discapacidad.html_name }}"
                                       id="{{ form.enfermedad_discapacidad.id_for_label }}"
                                       value="{{ form.enfermedad_discapacidad.value|default:'' }}"
                                       placeholder="Dejar vacio para ninguna / Descripción"
                                       class="block rounded-md w-48 bg-white px-3 py-1.5 text-base text-primary outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-accent sm:text-sm/6 {% if form.enfermedad_discapacidad.errors %}input-error{% endif %}" />
                            </div>
                            {% if form.enfermedad_discapacidad.errors %}
                                <div class="label text-error text-sm">{{ form.enfermedad_discapacidad.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="max-w-48">
                            <label class="label ">
                                <input type="checkbox"
                                       {% if form.toma_medicamento.value %}checked{% endif %}
                                       class="checkbox checkbox-lg checkbox-primary [&&]:w-(--size) "
                                       name="{{ form.toma_medicamento.html_name }}"
                                       id="{{ form.toma_medicamento.id_for_label }}" />
                                <span>
                                    <b class="text-primary">¿Toma Medicamento?</b>
                                </span>
                            </label>
                            {% if form.toma_medicamento.errors %}
                                <div class="label text-error text-sm">{{ form.toma_medicamento.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="max-w-48">
                            <label class="label ">
                                <input type="checkbox"
                                       {% if form.pensionado.value %}checked{% endif %}
                                       class="checkbox checkbox-lg checkbox-primary [&&]:w-(--size) "
                                       name="{{ form.pensionado.html_name }}"
                                       id="{{ form.pensionado.id_for_label }}" />
                                <span>
                                    <b class="text-primary">¿Es Pensionado?</b>
                                </span>
                            </label>
                            {% if form.pensionado.errors %}<div class="label text-error text-sm">{{ form.pensionado.errors }}</div>{% endif %}
                        </div>
                    </div>
                    <div class="divider"></div>
                    <h3 class="text-lg text-primary mb-2">Ocupación</h3>
                    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 w-full items-end">
                        <div class="max-w-48">
                            <label class="label ">
                                <input type="checkbox"
                                       v-model="trabaja"
                                       {% if form.trabaja.value %}checked{% endif %}
                                       class="checkbox checkbox-lg checkbox-primary [&&]:w-(--size) "
                                       name="{{ form.trabaja.html_name }}"
                                       id="{{ form.trabaja.id_for_label }}" />
                                <span>
                                    <b class="text-primary">¿Trabaja actualmente?</b>
                                </span>
                            </label>
                            {% if form.trabaja.errors %}<div class="label text-error text-sm">{{ form.trabaja.errors }}</div>{% endif %}
                        </div>
                        <div v-show="trabaja">
                            <label for="{{ form.lugar_trabajo.id_for_label }}"
                                   class="block text-sm/6 font-medium text-primary">
                                {{ form.lugar_trabajo.label }}
                            </label>
                            <div class="mt-2">
                                <input type="text"
                                       name="{{ form.lugar_trabajo.html_name }}"
                                       id="{{ form.lugar_trabajo.id_for_label }}"
                                       value="{{ form.lugar_trabajo.value|default:'' }}"
                                       placeholder="Descripción"
                                       class="block rounded-md w-48 bg-white px-3 py-1.5 text-base text-primary outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-accent sm:text-sm/6 {% if form.lugar_trabajo.errors %}input-error{% endif %}" />
                            </div>
                            {% if form.lugar_trabajo.errors %}
                                <div class="label text-error text-sm">{{ form.lugar_trabajo.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="max-w-48">
                            <label class="label">
                                <input type="checkbox"
                                       v-model="estudia"
                                       {% if form.estudia.value %}checked{% endif %}
                                       class="checkbox checkbox-lg checkbox-primary [&&]:w-(--size) "
                                       name="{{ form.estudia.html_name }}"
                                       id="{{ form.estudia.id_for_label }}" />
                                <span>
                                    <b class="text-primary">¿Estudia actualmente?</b>
                                </span>
                            </label>
                            {% if form.estudia.errors %}<div class="label text-error text-sm">{{ form.estudia.errors }}</div>{% endif %}
                        </div>
                        <div v-show="estudia">
                            <label for="{{ form.nivel_estudio.id_for_label }}"
                                   class="block text-sm/6 font-medium text-primary">
                                {{ form.nivel_estudio.label }}
                            </label>
                            <div class="mt-2">
                                <select name="{{ form.nivel_estudio.html_name }}"
                                        id="{{ form.nivel_estudio.id_for_label }}"
                                        class="select block rounded-md w-48 bg-white px-3 py-1.5 text-base text-primary outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-accent sm:text-sm/6 {% if form.nivel_estudio.errors %}input-error{% endif %}">
                                    {% for value, label in form.nivel_estudio.field.choices %}
                                        <option value='{{ value }}'
                                                {% if form.nivel_estudio.value == value %}selected{% endif %}>
                                            {{ label }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% if form.nivel_estudio.errors %}
                                <div class=" label text-error text-sm">{{ form.nivel_estudio.errors }}</div>
                            {% endif %}
                        </div>
                        <div v-show="estudia">
                            <label for="{{ form.grado_instruccion.id_for_label }}"
                                   class="block text-sm/6 font-medium text-primary">
                                {{ form.grado_instruccion.label }}
                            </label>
                            <div class="mt-2">
                                <input type="text"
                                       name="{{ form.grado_instruccion.html_name }}"
                                       id="{{ form.grado_instruccion.id_for_label }}"
                                       value="{{ form.grado_instruccion.value|default:'' }}"
                                       placeholder="Ej: 5to Semestre / Ingeniero"
                                       class="block rounded-md w-48 bg-white px-3 py-1.5 text-base text-primary outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-accent sm:text-sm/6 {% if form.grado_instruccion.errors %}input-error{% endif %}" />
                            </div>
                            {% if form.grado_instruccion.errors %}
                                <div class="label text-error text-sm">{{ form.grado_instruccion.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="flex gap-4">
                        <button type="submit"
                                :disabled="formHandler.loading"
                                class="flex mt-8 text-sm/6 font-semibold btn btn-neutral ">Guardar (Admin)</button>
                        <a href="{% url 'lider_general:censo_lista' %}"
                           class="flex mt-8 text-sm/6 font-semibold btn btn-error"
                           :class="{'pointer-none btn-disabled' : formHandler.loading}"
                           onclick="return confirm('¿Desea regresar? Cualquier informacion se perderá.');">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
