{% extends "layouts/complete.html" %}
{% block content %}
    <div v-scope
         @vue:mounted="navbar.change('Solicitudes de Documentos')"
         class="min-h-[calc(100svh-8rem)] max-w-screen overflow-hidden p-8 flex flex-col justify-stretch items-start gap-8">
        <a href="{% url 'url_index' %}" class="btn btn-neutral w-full ">Volver al inicio</a>
        <a href="{% url 'lider_general:correlativo_documentos' %}"
           class="btn btn-accent w-full">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="h-5 w-5 mr-2"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
            </svg>
            Ver Correlativo Documentos
        </a>
        <div class="overflow-x-auto w-full max-h-[calc(100svh-12rem)] rounded-box border border-base-content/5 bg-base-100">
            <table class="table table-sm lg:table-md table-pin-rows table-zebra text-center lg:text-start">
                <thead class="text-wrap lg:text-nowrap ">
                    <tr>
                        <th>Acción</th>
                        <th>Vecino</th>
                        <th>Torre/Apto</th>
                        <th>Documento</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sol in solicitudes %}
                        <tr>
                            <td>
                                <a href="{% url 'lider_general:procesar_solicitud' sol.pk %}"
                                   class="btn btn-soft btn-primary btn-sm">Procesar</a>
                            </td>
                            <td>{{ sol.beneficiario.nombres }} {{ sol.beneficiario.apellidos }}</td>
                            <td>
                                <span>{{ sol.beneficiario.tower.nombre }}
                                    <br>
                                {{ sol.beneficiario.apartamento_completo }}</span>
                            </td>
                            <td>{{ sol.get_tipo_display }}</td>
                            <td>{{ sol.fecha_solicitud|date:"d/m/Y" }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="text-center py-4">No hay solicitudes pendientes.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
