{% extends 'layouts/base.html' %}
{# TODO: hacer todo registration #}
{% block title %}Contraseña Restablecida{% endblock %}
{% block content %}
    <div class="container">
        <div class="login-box">
            <h2>Contraseña Restablecida</h2>
            <div class="form-container">
                {# Muestra el mensaje de éxito enviado desde SetNewPasswordView #}
                {% if messages %}
                    {% for message in messages %}
                        <p class="{% if message.tags %}alert alert-{{ message.tags }}{% endif %} message-text">{{ message }}</p>
                    {% endfor %}
                {% else %}
                    <p class="message-text">Tu contraseña ha sido restablecida con éxito.</p>
                {% endif %}
                <div class="signup-link">
                    <a href="{% url 'url_login' %}">Ir a la página de inicio de sesión</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
