{% extends "layouts/base.html" %}
{% block main %}
    <div v-scope
         class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="flex min-h-full flex-col items-center justify-center px-6 lg:px-8 lg:min-w-2xl">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <h2 class="text-center text-2xl/9 font-bold tracking-tight text-primary">Restablecer contraseña</h2>
                <h3 class="text-center text-2xl/9 tracking-tight text-primary">Establecer Nueva Contraseña</h3>
            </div>
            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm flex flex-col justify-start items-center">
                <form method="post"
                      @submit.prevent="formHandler.handleSubmit($el)"
                      class="w-full space-y-6">
                    {% csrf_token %}
                    <div class="flex flex-col justify-center items-stretch gap-4 [&_input]:w-full">
                        {% for field in form %}
                            <div>
                                <label for="{{ field.id_for_label }}"
                                       class="block text-sm/6 font-medium text-primary">
                                    {{ field.label|default:'Email' }}
                                </label>
                                <div class="mt-2">
                                    <input type="{{ field.field.widget.input_type|default:'text' }}"
                                           name="{{ field.html_name }}"
                                           id="{{ field.id_for_label }}"
                                           value="{{ field.value|default:'' }}"
                                           placeholder="{{ field.field.widget.attrs.placeholder|default:'Contraseña' }}"
                                           class="block rounded-md  bg-white px-3 py-1.5 text-base text-primary outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-accent sm:text-sm/6 {% if field.errors %}input-error{% endif %}" />
                                </div>
                                {% if field.help_text %}<small>{{ field.help_text|safe }}</small>{% endif %}
                                {% if field.errors %}<div class="label text-error text-sm">{{ field.errors }}</div>{% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="space-y-2">
                        <button type="submit"
                                :disabled="formHandler.loading"
                                class="flex btn btn-neutral text-sm/6 font-semibold w-full">
                            <span v-if="formHandler.loading" class="loading loading-spinner"></span>
                            Cambiar Contraseña
                        </button>
                    </div>
                </form>
                <div class="divider  w-full"></div>
                <a class="btn btn-neutral btn-outline w-full"
                   href="{% url 'url_login' %}">Volver al Login</a>
            </div>
        </div>
    </div>
{% endblock main %}
