.dark-high-contrast {
  --md-sys-color-primary: rgb(193 250 255);
  --md-sys-color-surface-tint: rgb(128 212 219);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(124 208 215);
  --md-sys-color-on-primary-container: rgb(0 14 15);
  --md-sys-color-secondary: rgb(239 238 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(182 191 253);
  --md-sys-color-on-secondary-container: rgb(0 5 50);
  --md-sys-color-tertiary: rgb(205 247 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(126 207 220);
  --md-sys-color-on-tertiary-container: rgb(0 14 16);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 161);
  --md-sys-color-on-error-container: rgb(34 0 0);
  --md-sys-color-background: rgb(14 20 21);
  --md-sys-color-on-background: rgb(221 228 228);
  --md-sys-color-surface: rgb(14 20 21);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(63 72 74);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(232 242 243);
  --md-sys-color-outline-variant: rgb(187 196 198);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 227 229);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 80 85);
  --md-sys-color-primary-fixed: rgb(157 240 247);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(128 212 219);
  --md-sys-color-on-primary-fixed-variant: rgb(0 20 22);
  --md-sys-color-secondary-fixed: rgb(222 224 255);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(186 195 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 9 65);
  --md-sys-color-tertiary-fixed: rgb(158 239 253);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(130 211 224);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 20 23);
  --md-sys-color-surface-dim: rgb(14 20 21);
  --md-sys-color-surface-bright: rgb(75 81 82);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(27 33 34);
  --md-sys-color-surface-container: rgb(43 49 51);
  --md-sys-color-surface-container-high: rgb(54 60 62);
  --md-sys-color-surface-container-highest: rgb(66 72 73);
}
