.dark-medium-contrast {
  --md-sys-color-primary: rgb(150 234 241);
  --md-sys-color-surface-tint: rgb(128 212 219);
  --md-sys-color-on-primary: rgb(0 43 46);
  --md-sys-color-primary-container: rgb(71 157 164);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(214 218 255);
  --md-sys-color-on-secondary: rgb(23 33 85);
  --md-sys-color-secondary-container: rgb(132 141 200);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(152 233 247);
  --md-sys-color-on-tertiary: rgb(0 42 48);
  --md-sys-color-tertiary-container: rgb(73 156 169);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 203);
  --md-sys-color-on-error: rgb(72 20 13);
  --md-sys-color-error-container: rgb(204 123 111);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(14 20 21);
  --md-sys-color-on-background: rgb(221 228 228);
  --md-sys-color-surface: rgb(14 20 21);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(63 72 74);
  --md-sys-color-on-surface-variant: rgb(212 222 224);
  --md-sys-color-outline: rgb(170 180 181);
  --md-sys-color-outline-variant: rgb(136 146 148);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 227 229);
  --md-sys-color-inverse-on-surface: rgb(37 43 44);
  --md-sys-color-inverse-primary: rgb(0 80 85);
  --md-sys-color-primary-fixed: rgb(157 240 247);
  --md-sys-color-on-primary-fixed: rgb(0 20 22);
  --md-sys-color-primary-fixed-dim: rgb(128 212 219);
  --md-sys-color-on-primary-fixed-variant: rgb(0 61 65);
  --md-sys-color-secondary-fixed: rgb(222 224 255);
  --md-sys-color-on-secondary-fixed: rgb(0 9 65);
  --md-sys-color-secondary-fixed-dim: rgb(186 195 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(40 50 103);
  --md-sys-color-tertiary-fixed: rgb(158 239 253);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 23);
  --md-sys-color-tertiary-fixed-dim: rgb(130 211 224);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 60 68);
  --md-sys-color-surface-dim: rgb(14 20 21);
  --md-sys-color-surface-bright: rgb(63 70 71);
  --md-sys-color-surface-container-lowest: rgb(4 8 9);
  --md-sys-color-surface-container-low: rgb(25 31 32);
  --md-sys-color-surface-container: rgb(35 41 42);
  --md-sys-color-surface-container-high: rgb(45 52 53);
  --md-sys-color-surface-container-highest: rgb(57 63 64);
}
