.dark {
  --md-sys-color-primary: rgb(128 212 219);
  --md-sys-color-surface-tint: rgb(128 212 219);
  --md-sys-color-on-primary: rgb(0 54 58);
  --md-sys-color-primary-container: rgb(0 79 84);
  --md-sys-color-on-primary-container: rgb(157 240 247);
  --md-sys-color-secondary: rgb(186 195 255);
  --md-sys-color-on-secondary: rgb(34 44 97);
  --md-sys-color-secondary-container: rgb(57 67 121);
  --md-sys-color-on-secondary-container: rgb(222 224 255);
  --md-sys-color-tertiary: rgb(130 211 224);
  --md-sys-color-on-tertiary: rgb(0 54 61);
  --md-sys-color-tertiary-container: rgb(0 79 88);
  --md-sys-color-on-tertiary-container: rgb(158 239 253);
  --md-sys-color-error: rgb(255 180 168);
  --md-sys-color-on-error: rgb(86 30 22);
  --md-sys-color-error-container: rgb(115 52 42);
  --md-sys-color-on-error-container: rgb(255 218 212);
  --md-sys-color-background: rgb(14 20 21);
  --md-sys-color-on-background: rgb(221 228 228);
  --md-sys-color-surface: rgb(14 20 21);
  --md-sys-color-on-surface: rgb(222 227 229);
  --md-sys-color-surface-variant: rgb(63 72 74);
  --md-sys-color-on-surface-variant: rgb(191 200 202);
  --md-sys-color-outline: rgb(137 146 148);
  --md-sys-color-outline-variant: rgb(63 72 74);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 227 229);
  --md-sys-color-inverse-on-surface: rgb(43 49 51);
  --md-sys-color-inverse-primary: rgb(0 105 111);
  --md-sys-color-primary-fixed: rgb(157 240 247);
  --md-sys-color-on-primary-fixed: rgb(0 32 34);
  --md-sys-color-primary-fixed-dim: rgb(128 212 219);
  --md-sys-color-on-primary-fixed-variant: rgb(0 79 84);
  --md-sys-color-secondary-fixed: rgb(222 224 255);
  --md-sys-color-on-secondary-fixed: rgb(11 21 75);
  --md-sys-color-secondary-fixed-dim: rgb(186 195 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(57 67 121);
  --md-sys-color-tertiary-fixed: rgb(158 239 253);
  --md-sys-color-on-tertiary-fixed: rgb(0 31 36);
  --md-sys-color-tertiary-fixed-dim: rgb(130 211 224);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 79 88);
  --md-sys-color-surface-dim: rgb(14 20 21);
  --md-sys-color-surface-bright: rgb(52 58 59);
  --md-sys-color-surface-container-lowest: rgb(9 15 16);
  --md-sys-color-surface-container-low: rgb(23 29 30);
  --md-sys-color-surface-container: rgb(27 33 34);
  --md-sys-color-surface-container-high: rgb(37 43 44);
  --md-sys-color-surface-container-highest: rgb(48 54 55);
}
