.light-medium-contrast {
  --md-sys-color-primary: rgb(0 61 65);
  --md-sys-color-surface-tint: rgb(0 105 111);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(22 121 127);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(40 50 103);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(96 105 162);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(0 60 68);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(24 120 132);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(94 36 28);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(161 89 77);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(244 250 251);
  --md-sys-color-on-background: rgb(22 29 29);
  --md-sys-color-surface: rgb(245 250 251);
  --md-sys-color-on-surface: rgb(12 18 19);
  --md-sys-color-surface-variant: rgb(219 228 230);
  --md-sys-color-on-surface-variant: rgb(47 56 57);
  --md-sys-color-outline: rgb(75 84 86);
  --md-sys-color-outline-variant: rgb(101 111 112);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(43 49 51);
  --md-sys-color-inverse-on-surface: rgb(236 242 243);
  --md-sys-color-inverse-primary: rgb(128 212 219);
  --md-sys-color-primary-fixed: rgb(22 121 127);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(0 94 100);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(96 105 162);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(71 81 136);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(24 120 132);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(0 94 104);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(194 199 201);
  --md-sys-color-surface-bright: rgb(245 250 251);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 245 246);
  --md-sys-color-surface-container: rgb(227 233 234);
  --md-sys-color-surface-container-high: rgb(216 222 223);
  --md-sys-color-surface-container-highest: rgb(205 211 212);
}
