{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<div class="dashboard-container">
    <header class="dashboard-header">
        <h1>Balcones de Paraguana I</h1>
        
        {% if request.user.is_authenticated %}
            <p class="user-info">
                Bienvenido, **{{ request.user.username }}** | 
                {% if request.user.rol == 'LDG' %}
                    **Rol: Líder General**
                {% elif request.user.rol == 'LDT' and request.user.tower %}
                    **Líder de la Torre {{ request.user.tower.nombre }}**
                {% else %}\
                    **Líder (Pendiente de Asignación)**
                {% endif %}
            </p>
        {% else %}
            <p class="user-info">Modo Espectador</p>
        {% endif %}
    </header>

    <main class="botones-grid">
        
        <div class="dropdown">
            <button class="boton-principal dropbtn" id="adminDropdownBtn" onclick="toggleDropdown()">
                <i class="fas fa-chart-line"></i>
                Administración de Ingresos y Egresos
            </button>
            <div class="dropdown-content" id="adminDropdownContent">
                <a href="{% url 'ver_finanzas' categoria_slug='condominio' %}">Condominio</a>
                <a href="{% url 'ver_finanzas' categoria_slug='basura' %}">Cuarto de Basura</a>
            </div>
        </div>

        <a href="#bolsa-clap" class="boton-principal">
            <i class="fas fa-shopping-bag"></i>
            Bolsa Clap
        </a>

        <a href="#bombona" class="boton-principal">
            <i class="fas fa-fire"></i>
            Bombona
        </a>

        <a href="#carta-residencia" class="boton-principal">
            <i class="fas fa-file-alt"></i>
            Carta de Residencia
        </a>
        
        {% if request.user.is_authenticated and request.user.rol == 'LDT' or request.user.is_authenticated and request.user.rol == 'LDG' %}
            <a href="#censo" class="boton-principal">
                <i class="fas fa-users"></i>
                Censo
            </a>
        {% endif %}

        {% if request.user.is_authenticated and request.user.rol == 'LDG' %}
            <a href="{% url 'lider_general:lista_usuarios' %}" class="boton-principal">
                <i class="fas fa-user-cog"></i>
                Gestión de Usuarios
            </a>
        {% endif %}


        {% if request.user.is_authenticated %}
            <a href="{% url 'url_logout' %}" class="boton-principal logout-button">
                <i class="fas fa-sign-out-alt"></i>
                Cerrar Sesión
            </a>
        {% else %}
            <a href="{% url 'url_login' %}" class="boton-principal">
                <i class="fas fa-sign-in-alt"></i>
                Iniciar Sesión
            </a>
        {% endif %}
    </main>
</div>
{% endblock content %}